<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en" dir="ltr"><!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
		<title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
		<meta content="width=device-width,initial-scale=1" name="viewport">
		<!-- Meta data -->
		<meta name="description" content="Web Experience Toolkit (WET) includes reusable components for building and maintaining innovative Web sites that are accessible, usable, and interoperable. These reusable components are open source software and free for use by departments and external Web communities">
		<!-- Meta data-->
		<!-- Load closure template scripts -->
		<script type="text/javascript" src='{{ "/cdts/compiled/soyutils.js" | relURL }}'></script>
		<script type="text/javascript" src='{{ "/cdts/compiled/wet-en.js" | relURL }}'></script>
		<noscript>
			<!-- Write closure fall-back static file -->
			<!--#include file="../static/refTop.html" -->
		</noscript>
		<!-- Write closure template -->
		<script type="text/javascript">
			document.write(wet.builder.refTop({
				localPath: '{{ "/" | relURL }}'
			}));
		</script>
        
        {{ block "css" . }}{{ partial "site-css.html" . }}{{ end }}
        
	</head>
	<body vocab="http://schema.org/" typeof="WebPage">
		<div id="def-top">
			<!-- Write closure fall-back static file -->
			<!--#include file="../static/top-en.html" -->
		</div>
		<!-- Write closure template -->
		<script type="text/javascript">
			var defTop = document.getElementById("def-top");
			defTop.outerHTML = wet.builder.top({
				lngLinks: [{
					lang: "fr",
					href: "content-fr.html",
					text: "Français"
				}],
                 breadcrumbs: [{
					title: "Home",
					href: "http://www.canada.ca/en/index.html"
				}, {{ template "site-breadcrumbs" dict "currentPage" .Page "id" .UniqueID }}],
				localPath: '{{ "/" | relURL }}'
			});
		</script>
		<main role="main" property="mainContentOfPage" class="container">
            
            {{ block "main" . }}{{ end }}
            
			<div id="def-preFooter">
				<!-- Write closure fall-back static file -->
				<!--#include file="../static/preFooter-en.html" -->
			</div>
			<!-- Write closure template -->
			<script type="text/javascript">
				var defPreFooter = document.getElementById("def-preFooter");
				defPreFooter.outerHTML = wet.builder.preFooter({
					dateModified: "2017-11-17"
				});
			</script>
		</main>
		<div id="def-footer">
			<!-- Write closure fall-back static file -->
			<!--#include file="../static/footer-en.html" -->
		</div>
		<!-- Write closure template -->
		<script type="text/javascript">
			var defFooter = document.getElementById("def-footer");
			defFooter.outerHTML = wet.builder.footer({
				localPath: '{{ "/" | relURL }}'
			});
		</script>
		<!-- Write closure template -->
		<script type="text/javascript">
			document.write(wet.builder.refFooter({
				localPath: '{{ "/" | relURL }}'
			}));
		</script>
        
        {{ block "scripts" . }}{{ partial "site-scripts.html" . }}{{ end }}
        
	</body>
</html>
{{ define "site-breadcrumbs" }}
    {{ if .currentPage.Parent }}
        {{ template "site-breadcrumbs" dict "currentPage" .currentPage.Parent }}
    {{ end }}
       
          { title:"{{ .currentPage.LinkTitle }}",
          href:"{{ .currentPage.URL }}" }, 
        
{{ end }}