{{ define "main" }}

    <h1>{{ .Title }}</h1>
        
    <p>List of sub sections:</p>

    <ul>
    {{ range .Data.Pages.ByWeight }}

        <li><a href="{{ .URL }}">{{ .Title }}</a></li>

    {{ end }}
    </ul>
    
{{ end }}