{{ define "breadcrumb" }}

    {{ if .currentPage.Parent }}
        {{ template "breadcrumb" dict "currentPage" .currentPage.Parent }}
      {{ end }}
      <li>
        {{ if eq .id .currentPage.UniqueID }}
          {{ .currentPage.Title }}
        {{ else }}
          <a href="{{ .currentPage.URL }}">{{ .currentPage.Title }}</a>
        {{ end }}
      </li>

{{ end }}

