        <!-- Project Scripts --> 
        <script src='{{ "js/main.js" | relURL }}'></script>

        <!-- Google Maps API Call -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHrWJZzjTHCN3xQjzBv7BHS6uVD-00Ygg&libraries=places&callback=sccChallenge.init" async defer></script>
    
