{{ define "main" }}

    <h1 property="name" id="wb-cont">{{ .Title }}</h1>
    
    <div class="scc-challenge">
        <p><a href="http://www.servicecanada.gc.ca/tbsc-fsco/sc-hme.jsp">Find a Service Canada Centre</a></p>
    </div>

{{ end }}